<% provide(:title, "About") %>
<div class="hero">
  <h1>All About Ilm Fund</h1>
</div>

<div class="container">
  <h2>
    Ilm Fund was born out of a desire to remove barriers that stand between 
    Muslims and learning more about their religion.
  </h2>
</div>



<ul style="color: white">
  <li>Seminars, both here and far.</li>
  <li>Bringing scholars to Tulsa.</li>
  <li>Online study.</li>
  <li>Long-term programs: intensives, seminaries, and more.</li>
</ul>