<div id="page-wrapper">
	<!-- Header -->
		<div id="header">

			<!-- Inner -->
				<div class="inner">
					<header>
						<h1><a href="index.html" id="logo">Ilm Fund</a></h1>
						<hr />
						<p>
							Promoting the Islamic and intellectual development <br>
							of Muslims in America by connecting aspiring <br>
							students of knowledge with financial support.
						</p>
					</header>

					<footer>
						<%= link_to "Support", about_path, class: "button circled" %>
					</footer>
				</div>

			<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><%= link_to "Home", root_path %></li>
						<li><%= link_to "About", about_path %></li>
						<li><%= link_to "Support Us", about_path, class: "btn btn-success" %></li>
					</ul>
				</nav>
			</div>
		  <div id="special-footer">
        <p style="text-align: center; color: white">&copy; 2016, i-KARE</p>
       </div>
  </div>
</body>
</html>
