<div id="page-wrapper">

	<!-- Header -->
		<div id="header">

			<!-- Inner -->
				<div class="inner">
					<header>
						<h1><a href="index.html" id="logo">Ilm Fund</a></h1>
						<hr />
						<p>Another fine freebie by HTML5 UP</p>
					</header>
					
					<footer>
						<a href="#banner" class="button circled">Start</a>
					</footer>
				</div>

			<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li>
							<a href="#">Dropdown</a>
							<ul>
								<li><a href="#">Lorem ipsum dolor</a></li>
								<li><a href="#">Magna phasellus</a></li>
							</ul>
						</li>
						<li><a href="left-sidebar.html">Left Sidebar</a></li>
						<li><a href="right-sidebar.html">Right Sidebar</a></li>
						<li><a href="no-sidebar.html">No Sidebar</a></li>
					</ul>
				</nav>

		</div>
		  <div id="special-footer">
        <p style="text-align: center; color: white">&copy; 2016, i-KARE</p>
       </div>
  </div>
  
</body>
</html>
