@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  margin-bottom: 60px;
  background-image: image-url("hex-pattern.png");
  //background-color: gray;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

h1 {
  font-size: 3em;
  //letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: white;
}

h2 {
  font-size: 2em;
  //letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: white;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/* navbar */
.navbar-default {
    background-color: #003300;
    //border-color: #E7E7E7;
}
/* title */
.navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}

.nav-nav {
  padding-top: 4px;
}

.red .active a,
.red .active a:hover {
  background-color: red;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: red;
}


/* footer */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  //background-color: #f5f5f5;
  padding-left: 30px;
  padding-right: 30px;
}



footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* custom jumbotron stuff */

.jumbotron {
  opacity: 1; // Leave this as 1
  background-color: rgba(0,0,0,0); // This is in the form rgba(R,G,B,a) where a is your opacity
  // The rest of your CSS
}

.my-btn {
  width: 1000px;
  height: 1000px;
  background-color: green;
  border-radius: 100%;
}