<!--
<header class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <%= link_to image_tag("logo_orangesmall.jpg", alt: "Ilm Fund"),
            root_path %>
    <%#= link_to "ilm fund", root_path, id: "logo" %>
    <nav class="pull-right">
      <ul class="nav nav-pills nav-nav red">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "About",   about_path %></li>
        <li><%= link_to "Donate", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
-->

<!-- Header -->
					<header id="site-headr" class="alt">
						<h1><a href="index.html">Spectral</a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#site-menu" class="menuToggle"><span>Menu</span></a>
									<div id="site-menu">
										<ul>
											<li><a href="index.html">Home</a></li>
											<li><a href="generic.html">Generic</a></li>
											<li><a href="elements.html">Elements</a></li>
											<li><a href="#">Sign Up</a></li>
											<li><a href="#">Log In</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>
